In [101]:
import pandas as pd

## Question 1

Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data.
* read_csv(): This function is used to read CSV files and convert them into a pandas DataFrame.
* head(): This function is used to display the first n rows of a DataFrame.
* tail(): This function is used to display the last n rows of a DataFrame.
* describe(): This function is used to generate descriptive statistics of a DataFrame.
* info() : This function is used to get information about the dataset.

In [102]:
df = pd.read_csv("/content/taxonomy.csv.xls")

In [103]:
df.head()

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash

In [104]:
df.tail()

    taxonomy_id                          name parent_id           parent_name
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

In [105]:
df.describe()

       taxonomy_id          name  parent_id       parent_name
count          290           290        279               279
unique         290           183         60                50
top            101  Nursing Home  106-06-07  Health Education
freq             1             4         11                15

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   taxonomy_id  290 non-null    object
 1   name         290 non-null    object
 2   parent_id    279 non-null    object
 3   parent_name  279 non-null    object
dtypes: object(4)
memory usage: 9.2+ KB

## Question 2

In [107]:
df_1 = pd.DataFrame({'A':[20,30,40,50,60],"B" : [200,300,400,500,600],"C": [2000,3000,4000,5000,6000]})

In [108]:
df_1

    A    B     C
0  20  200  2000
1  30  300  3000
2  40  400  4000
3  50  500  5000
4  60  600  6000

In [109]:
df_1.set_index(pd.RangeIndex(start=1, stop=df_1.shape[0]*2, step=2),inplace = True)

In [110]:
df_1

    A    B     C
1  20  200  2000
3  30  300  3000
5  40  400  4000
7  50  500  5000
9  60  600  6000

## Question 3

In [111]:
df1 = pd.DataFrame({"Name":["Shalini","Sanjana","Gaurav","Roshni","Rahul","Akshat"],"Values": [i for i in range(10,70,10)]})

In [112]:
df1

      Name  Values
0  Shalini      10
1  Sanjana      20
2   Gaurav      30
3   Roshni      40
4    Rahul      50
5   Akshat      60

In [113]:
list(df1.columns)

['Name', 'Values']

In [114]:
def first_three_sum(df):
  for i in list(df.columns):
    if i == "Values":
      sum = df.loc[0:2,i].sum()
  return sum

In [115]:
first_three_sum(df1)

60

## Question 4

In [116]:
df = pd.DataFrame({'Text': ['This is a sentence.', 'This is another sentence.', 'And this is a third sentence.']})

In [117]:
df

                            Text
0            This is a sentence.
1      This is another sentence.
2  And this is a third sentence.

In [118]:
df["Word_count"] = df["Text"].apply(lambda x : len(x.split(" ")))

In [119]:
df

                            Text  Word_count
0            This is a sentence.           4
1      This is another sentence.           4
2  And this is a third sentence.           6

## Question 5

The size() method returns the number of elements in the DataFrame, while the shape() method returns a tuple representing the dimensionality of the DataFrame. The tuple contains two values: the number of rows and the number of columns. Here’s an example:

In [120]:
df1

      Name  Values
0  Shalini      10
1  Sanjana      20
2   Gaurav      30
3   Roshni      40
4    Rahul      50
5   Akshat      60

In [121]:
print(df1.shape)
print(df1.size)

(6, 2)
12

## Question 6

read_excel function is used to read the excel file in python using pandas.

In [122]:
pd.read_excel("/content/16.2.2022 Mr.Sadat shah.xlsx")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,ESTIMATE FOR RESIDENCE INTERIORS WORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Client,Mr.SADAT SHAH,17.02.2022,NaN,NaN,NaN,NaN,NaN
2,Address,NaN,R00,NaN,NaN,NaN,NaN,NaN
3,SL.NO.,ITEM DESCRIPTION,SIZE - LXH,QNTY,UNIT,RATE,AMOUNT,NaN
4,NaN,NaN,in feet,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
76,1,Delay in availabilty of certain material (lami...,NaN,NaN,NaN,NaN,NaN,NaN
77,2,Electricity & water to be supplied by the clie...,NaN,NaN,NaN,NaN,NaN,NaN
78,3,Minimum of 9 hours of window has to provided f...,NaN,NaN,NaN,NaN,NaN,NaN
79,4,Project Duration: Designing time: ~20 Days dep...,NaN,NaN,NaN,NaN,NaN,NaN
80,5,National Holidays and Local festivals are not ...,NaN,NaN,NaN,NaN,NaN,NaN

## Question 7

In [123]:
df = pd.DataFrame({"Email" : ["gauravsaini@gmail.com","sanjanasaini@gmail.com","Roshni_ji@gamil.com","AkshatKumawat@gmail.com"]})

In [124]:
df

                     Email
0    gauravsaini@gmail.com
1   sanjanasaini@gmail.com
2      Roshni_ji@gamil.com
3  AkshatKumawat@gmail.com

In [125]:
df["Username"] = df["Email"].apply(lambda x : x.split("@")[0])

In [126]:
df

                     Email       Username
0    gauravsaini@gmail.com    gauravsaini
1   sanjanasaini@gmail.com   sanjanasaini
2      Roshni_ji@gamil.com      Roshni_ji
3  AkshatKumawat@gmail.com  AkshatKumawat

## Question 8

In [127]:
data = pd.DataFrame({'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]})

In [128]:
data

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [129]:
def select_data(df):
  new_df = df.loc[(df["A"]>5) & (df["B"]< 10)]
  return new_df

In [130]:
select_data(data)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Question 9

In [131]:
df_02 = pd.DataFrame({'Values': [i for i in range(10,60,10)]})

In [132]:
df_02

   Values
0      10
1      20
2      30
3      40
4      50

In [133]:
def get_stats(df):
  stats = {}
  for i in list(df.columns):
    if i == "Values":
      stats["Mean"] = df[i].mean()
      stats["Median"] = df[i].median()
      stats["Standard Deviation"] = df[i].std()

  return stats

In [134]:
get_stats(df_02)

{'Mean': 30.0, 'Median': 30.0, 'Standard Deviation': 15.811388300841896}

## Question 10

In [140]:
df_03 = pd.DataFrame({'Sales': [i for i in range(10,101,10)],
                   'Date': pd.date_range('2023-01-01', periods=10, freq='D')})
df_03

   Sales       Date
0     10 2023-01-01
1     20 2023-01-02
2     30 2023-01-03
3     40 2023-01-04
4     50 2023-01-05
5     60 2023-01-06
6     70 2023-01-07
7     80 2023-01-08
8     90 2023-01-09
9    100 2023-01-10

In [141]:
def get_moving_avg(df):
   df["Moving Average"] = df.rolling(window = 7,min_periods=1).mean()
   return df

In [142]:
get_moving_avg(df_03)

<ipython-input-141-e5932ad3f2ba>:2: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date'], dtype='object')
  df["Moving Average"] = df.rolling(window = 7,min_periods=1).mean()

   Sales       Date  Moving Average
0     10 2023-01-01            10.0
1     20 2023-01-02            15.0
2     30 2023-01-03            20.0
3     40 2023-01-04            25.0
4     50 2023-01-05            30.0
5     60 2023-01-06            35.0
6     70 2023-01-07            40.0
7     80 2023-01-08            50.0
8     90 2023-01-09            60.0
9    100 2023-01-10            70.0

## Question 11

In [158]:
df = pd.DataFrame({"Date":pd.date_range("2023-01-01",periods = 45,freq = "D")})

In [170]:
df.head()

        Date   weekdays
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [160]:
def get_day_name(data):
  data["weekdays"] = data["Date"].dt.day_name()
  return data

In [161]:
new_df = get_day_name(df)

In [169]:
new_df.head()

        Date   weekdays
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Question 12

In [167]:
def select_jan_date(df):
  result_df = df.loc[(df['Date']>='2023-01-01') & (df['Date'] <= '2023-01-31')]
  return result_df

In [168]:
select_jan_date(new_df)

         Date   weekdays
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday
5  2023-01-06     Friday
6  2023-01-07   Saturday
7  2023-01-08     Sunday
8  2023-01-09     Monday
9  2023-01-10    Tuesday
10 2023-01-11  Wednesday
11 2023-01-12   Thursday
12 2023-01-13     Friday
13 2023-01-14   Saturday
14 2023-01-15     Sunday
15 2023-01-16     Monday
16 2023-01-17    Tuesday
17 2023-01-18  Wednesday
18 2023-01-19   Thursday
19 2023-01-20     Friday
20 2023-01-21   Saturday
21 2023-01-22     Sunday
22 2023-01-23     Monday
23 2023-01-24    Tuesday
24 2023-01-25  Wednesday
25 2023-01-26   Thursday
26 2023-01-27     Friday
27 2023-01-28   Saturday
28 2023-01-29     Sunday
29 2023-01-30     Monday
30 2023-01-31    Tuesday

## Question 13

For using the function of pandas we need to import pandas.