In [1]:
import pandas as pd

## Question 1

In [2]:
series = pd.Series([4,8,15,16,23,42])

In [3]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Question 2

In [4]:
list_1 = [i for i in range(10)]

In [6]:
series_01 = pd.Series(list_1)

In [8]:
series_01

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

## Question 3

In [9]:
df = pd.DataFrame({'Name':["Alice","Bob","Claire"],"Age" : [25,30,37],"Gender":["Female","Male","Female"]})
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   37  Female

## Question 4

* A Series is the one dimensional array which contain any kind of data. It is the type of list in pandas that can have labels as keys. A series is also the data structure for a single column of DataFrame.

* A DataFrame isthe collection of series that share same number of index. It is the 2 dimensional form of data structure with columns of potentially different types.In Dataframe each columns of data is represented as a pandas series. DataFrame columns can have names but series columns cannot have name.
For example :-

In [11]:
l = [i for i in range(1,11)]
ser = pd.Series(l)
df_1 = pd.DataFrame(l)

In [12]:
ser

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [13]:
df_1

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

## Question 5

* head(): This function returns the first n rows for the DataFrame. By default, it returns the first 5 rows.

* tail(): This function returns the last n rows for the DataFrame. By default, it returns the last 5 rows.

* describe(): This function generates descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution.

* groupby(): This function groups data by one or more columns and applies a function to each group.

* sort_values(): This function sorts the DataFrame by one or more columns.

In [15]:
df1 = pd.read_csv("/content/taxonomy.csv.xls")

In [16]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [17]:
df1.head()

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash

In [18]:
df1.tail()

    taxonomy_id                          name parent_id           parent_name
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

In [25]:
df1.sort_values("name")

      taxonomy_id                    name  parent_id           parent_name
73      106-01-01                 12-Step     106-01  Addiction & Recovery
210  108-07-09-01                 12-Step  108-07-09        Support Groups
72         106-01    Addiction & Recovery        106                Health
275     111-01-01  Adoption & Foster Care     111-01  Advocacy & Legal Aid
168        108-01  Adoption & Foster Care        108                  Care
..            ...                     ...        ...                   ...
213     108-07-10         Virtual Support     108-07       Support Network
110  106-06-04-06            Vision Tests  106-06-04        Checkup & Test
254           110                    Work        NaN                   NaN
285     111-01-07        Workplace Rights     111-01  Advocacy & Legal Aid
272        110-05        Workplace Rights        110                  Work

[290 rows x 4 columns]

## Question 6

A Series is an immutable one-dimensional array-like object that contains a sequence of values and an associated array of data labels, called its index.

A DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). The DataFrame is therefore mutable; data can be added, updated or deleted.

A Panel is a three-dimensional size-mutable array.

## Question 7

In [29]:
s1 = pd.Series([i for i in range(1,6)])
s2 = pd.Series([i for i in range(6,11)])
s3 = pd.Series([i for i in range(11,16)])
df_03 = pd.DataFrame({"Column 1":s1,"Column 2":s2,'Column 3':s3})

In [30]:
df_03

   Column 1  Column 2  Column 3
0         1         6        11
1         2         7        12
2         3         8        13
3         4         9        14
4         5        10        15